* {
    margin: 0;
    padding: 0;
    transition: all 0.3s;
    font-family: 'Segoe UI', Tahoma;
  }

  body {
    background-color: rgb(219, 232, 210);
  }
  h1{
    margin: 20px 0 ;
  }
  .todo-list {
    width: 600px;
    margin: 0 auto;
  }
  
  .todo-item {
    width: 100%;
    display: flex;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
  }
  
  #todo-input{
    width: 200px;
    border: 1px solid #ccc;
    color: #ccc;
    padding: 10px 200px 10px 10px;
    margin-bottom: 30px;
  }
  
  .add{
    padding: 10px 25px;
    background: #093f78;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .todo-text {
    flex-grow: 1;
    padding-left: 30px;
  }
  
  .done {
    text-decoration: line-through;
    color: #7de93f;
  }
  
  .delete{
    cursor: pointer;
    color: red;
    font-weight: 500;
  }